html{
  height: 100%;
  background-color: gray;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1{
  color: black;
  font-size: 35px;
  text-align: center;
}
h3{
  color: black;
  font-size: 30px;
}
label{
  color: black;
  font-size: 20px;
}
form.RegistrarLibro{
  display: table;
  margin: 10px;
  width: 400px;
  padding: 40px;
  border: #340070;
  box-sizing: border-box;
  box-shadow: 0 15px 25px;
}
input[type=text]{
  width: 100%;
  padding: 8px;
  font-size: 14px;
}
input[type=date]{
  width: 100%;
  padding: 8px;
  font-size: 14px;
}
